<div class="container">
  <div class="title align-center">
    <h1 class="mat-display-1">Clients</h1>
  </div>

  <button mat-raised-button color="primary" (click)="addClient()">Add client</button>
  <table mat-table *ngIf="userClients$ | async as userClients" [dataSource]="userClients" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First</th>
      <td mat-cell *matCellDef="let userClient"> {{userClient.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last</th>
      <td mat-cell *matCellDef="let userClient"> {{userClient.lastName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let userClient"> {{userClient.username}} </td>
    </ng-container>

    <ng-container matColumnDef="editClient">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let userClient">
        <button mat-raised-button color="primary" (click)="editClient(userClient.id)">Edit client</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['index', 'firstName', 'lastName', 'username', 'editClient']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['index', 'firstName', 'lastName', 'username', 'editClient'];"></tr>
  </table>
</div>

